extends base

block content
	h1 DnD Stuff
	
	div(class="row")
		div(class="col-xs-2 inverse left")
			h2 HEROES
			div(class="list-group", id="users")
			div(class="row")
				div(class="container-fluid pad-bottom")
					div(class="form-group")
						input(type="number", class="form-control", placeholder="Modifier", id="roll-modifier-input")
					div(class="form-group")
						input(type="number", class="form-control", placeholder="# of die", id="roll-times")
					div(class="form-group")
						input(type="number", class="form-control", placeholder="# of die sides", id="roll-input")
					button(type="button", class="form-control btn btn-primary", id="roll") Roll

		div(class="col-xs-8 col-md-10 jumbotron")
			h1 Rolled: 
				span(id="number")
			div(class="row")
				div(class="page-header")
					div(class="btn-toolbar pull-right")
						button(type="button", class="btn btn-success", id="add-shortcut")
							span(class="glyphicon glyphicon-plus")
						button(type="button", class="btn btn-danger", id="remove-shortcut")
							span(class="glyphicon glyphicon-minus")
					h2 Shortcuts
			div(class="row", id="add-shortcut-menu", style="display: none")
				div(class="container-fluid well")
					div(class="form-group")
						div(class="form-group col-xs-2")
							input(type="text", class="form-control", placeholder="Name", id="short-name")
						div(class="form-group col-xs-2")
							input(type="text", class="form-control", placeholder="Modifier", id="short-mod")
						div(class="form-group col-xs-2")
							input(type="text", class="form-control", placeholder="# of die", id="short-times")
						div(class="form-group col-xs-2")
							input(type="text", class="form-control", placeholder="# of die sides", id="short-die")
						div(class="form-group col-xs-2")
							btn(type="button", class="form-control btn btn-primary", id="append-shortcut") Add Shortcut
			div(class="row")
				div(class="btn-toolbar", id="shortcuts")