.inverse {
	background-color: #333333;
	color: white;
}

body {
	background-color: white;
}

a {
	text-decoration: none;
	font-weight: bold;
}

.clickable {
	cursor: pointer;
}

.pad-bottom {
	padding-bottom: 1em;
}