.inverse {
	background-color: #333333;
	color: white;
}

.inverse .list-group-item {
	color: white;
}

body {
	background-color: white;
	-webkit-transition: background-color 1s ease-out;
	-moz-transition: background-color 1s ease-out;
	-o-transition: background-color 1s ease-out;
	transition: background-color 1s ease-out;
}

a {
	text-decoration: none;
	font-weight: bold;
}

.clickable {
	cursor: pointer;
}

.pad-bottom {
	padding-bottom: 1em;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	[class*="col-"] {
		width: 100%;
	}
}